* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
#page-container {
	position:relative;
	min-height: 100vh;
}
#content-wrap {
	padding-bottom: 2.5rem;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;   
}

footer {
	background-color: #222836;
}
.navbarbg {
	background-color: #1E4372;
}


	/**********START INDEX HTML************/
#font {
	text-shadow: 2px 2px black;
}

/*.index-content {
	text-align: center;
	padding-top: 5%;
}
.bg-img {
	background:url(../images/Index-photos/background.jpg) center fixed;
	min-height: 10vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.index-button {
	margin-top: 3%;
}
.button {
	color:black;
}
.button:hover {
	border-radius: 5px;
	border:2px #E6AB28 solid;
	padding:10px;
	color:black;
	text-decoration: none;
}
@media only screen and (min-width: 300px){
	.index-logo {
		width: 100%;
	}
	.bg-img {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
@media only screen and (min-width: 801px)  {
	.index-logo {
		width: 30%;
	}
}*/

.font-color {
	color: #1E4372;
	text-shadow: 1px 1px white;
}

.color-gold {
	color:#D4AF37;
}
.bg-img {
	width:100%;
	height: 100vh;
	background: url(../images/Index-photos/city-building-background-wallpaper-1600x1200-12579_23.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display:table;
	font-family: Montserrat;
}
.bodyindex{
	position:absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}

 /**********************8 START OF HOME STLYE***************/

/*.home-nav {
	margin-left: 20%;
}
.hero-banner {
	background:url(../images/home-photos/594977f798aff4f71f8b457e-1136-852.jpg);
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.nav-text {
	color:#E6AB28;
	font-size: 30px;
	padding-top: 30px
	
}
.home-credentials {
	background: url(../images/home-photos/background-choreo.jpg);
	background-repeat: : no-repeat;
	background-size: cover;
	min-height: 55vh;

}
.main-home {
	background:url(../images/home-photos/ZenBG.png);
	min-height: 20vh;
	background-repeat: : no-repeat;
	background-size: cover;
	text-align: center;
}
.main-content {
	margin-top: 2%;
	border-radius: 2px;
}
.content-video {
	height: 320px;
	width: 100%;
}
.h1-main-home {
	padding-top: 2%;
	color:#E6AB28;
}
/*.p-content {
	margin-top: 2%;
}
.list-none {
	list-style: none;
}
.heading-home-credentials{
	text-align: center;
	padding-top: 4%;

}
.choreographers-male {
	color:white;
}
.content-choreographers {
	text-align: center;
}
.img-choreographers {
	height:175px;
	border-radius: 100px;
	border: 3px white solid;
	margin-top: 5%;
}
.home-testimonial  {
	background: url(../images/home-photos/ZenBG.png);
	min-height:30vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.home-content {
	width:100%;
	min-height: 10vh;
	margin-top: 5%;
	margin-bottom: 5%;
}
.img-card {
	height: 200px;
	/*width: 10px;*/
}
/*.footer {
	color:white;
}*/

.contain{
	max-width:960px;
	margin: 0 auto;
	background:#f9f9f9;
	font-size:24px;
	padding:25px;
}
/*.headhomebg{
	width:100%;
	height: 100vh;
	background: url(../images/home-photos/tuxpi.com.1551517903.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display:table;
}*/
.home-body{
	/*background-color: #EFF1F2;*/
}
.headermessage{
	position:absolute;
	/*border: 1px white solid;*/
	/*padding: 10px 100px 10px 100px;*/
	/*background-color: black;*/
	/*opacity: 0.8;*/
	top:40%;
	left: 50%;
	font-size: 30px;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px black;
}

.parallax{
	background:url('../images/home-photos/0315_untitled_070.jpg') no-repeat center;
	background-size: cover;
	background-attachment:fixed;
	height: 200px;
	
}
.parallax2{
	background:url('../images/home-photos/il_fullxfull.1263932239_1ubf.jpg') no-repeat center;
	background-size: cover;
	background-attachment:fixed;
	height: 200px;
}
.parallax3{
	background:url('../images/home-photos/new-york.jpg') no-repeat center;
	background-size: cover;
	background-attachment:fixed;
	height: 200px;
}
.textcenter {
	text-align: center;
	padding-top: 6%;
	/*border:1px black solid;*/
}
.borderblack{
	border:1px black solid;
	border-radius: 3px;
	padding: 10px 100px 10px 100px;
	color:#fff;
	background-color: black;
	opacity: 0.7;
}
.borderwhite {
	border:1px white solid;
	border-radius: 3px;
	padding: 10px 50px 10px 50px;
	color:black;
	background-color: white;
	opacity: 0.7;
}
.homeintro {
	margin-top: 100px;
	margin-bottom: 100px;
}
.carimg {
	height: 100vh;
	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
}
.inner{
	overflow: hidden;
}
.inner img{
	transition: all 1.5s ease;
}
.inner:hover img{
	transform: scale(1.2);
}
.parterheight {
	/*padding-top: 100px;*/
	margin-top: 50px;
	margin-bottom: 30px;

}
.parterimg {
	border:2px white solid;
	border-radius: 70px;
	height: 120px;
}
.cardimg {
	height: 250px;
}
.servicesimg {
	height: 250px;

}
/* {
  list-style-type: circle;
}*/



/****************START OF ABOUT HTML****************8*/

.about-content {
	margin-top: 3%;
}
.about-logo {
	width: 50%;
}

.nav-anchor {
	color:black;
}
.navbar-toggler-icon {
	color:black;
}
/*******************START OF GALLERY HTML************/

.img-nav {
	height: 1px;
}
.main-modal-img {
	/*height: 60%;*/
	width: 100%;
	/*overflow: hidden;*/
}
.modal-img {
	height: 100%;
	width: 100%;
}
.pointer {
	cursor: pointer;
}
.modalbody {
	min-height: 100px;
}
.modal-dialog {
	max-width: 1000px;
}
.gallery-footer {
	color:white;

}
.img-color {
	  filter: gray;
      -webkit-filter: grayscale(1); 
      -webkit-transition: all .5s ease-in-out;  
      border-radius: 2px;
      height: 200px;
      margin-top: 4%;
}
.img-color:hover {
    filter: none;
      -webkit-filter: grayscale(0);
}
.logo{
	color:#fff;
}

/***********START OF CONTACT HTML***************/
.google-maps {
	width: 100%;
	height: 100%;
}
.contactmainmargin{
	margin-top: 50px;
	margin-bottom: 50px;
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.index-logo {
		width:80%;
	}
	.headerindex{
		/*font-size: 50px;*/
		color:#fff;
	}
	.borderblack{
	border:1px black solid;
	border-radius: 3px;
	padding: 10px 50px 10px 50px;
	color:#fff;
	background-color: black;
	opacity: 0.7;
	}	
	.textcenter {
	text-align: center;
	padding-top: 100px;
	/*border:1px black solid;*/
	}
	/*.navbar {
		min-height:10px !important}*/
	.navbar-nav {
		padding-top:1px !important;
		padding-bottom:1px !important;
	}
	.servicesimg {
	height: 160px;
	
}


 }
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.index-logo {
		width:70%;
	} 
	.bodyindex{
	font-size: 50px;
	}
	.headerindex{
		font-size: 30px;
		color:#fff;
	}


 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	.index-logo {
			width:70%;
		} 
	.bodyindex{
	font-size: 50px;
	}
	.headerindex{
		font-size: 50px;
		color:#fff;
	}
	.textcenter {
	text-align: center;
	padding-top: 100px;
	/*border:1px black solid;*/
	}
	.rem {
		/*text-align: center;*/
		width:25rem;
	}

 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.index-logo {
			width:70%;
		} 
	.bodyindex{
	font-size: 50px;
	}
	.headerindex{
		font-size: 50px;
		color:#fff;
	}

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.index-logo {
			width:40%;
	}
	.bodyindex{
	font-size: 20px;
	}
	.headerindex{
		font-size: 20px;
		color:#fff;
	}
 }